<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.ralfkraemer.gosimon" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoSimon</name>
    <description>
        One of the best chat applications there are. GoSiomon uses AI to connect you with like-minded people nearby.
    </description>
    <author email="hello@ralfkraemer.eu" href="https://ralfkraemer.eu">
        Ralf Krämer
    </author>
    <content src="index.html" />
		<preference name="ShowSplashScreenSpinner" value="false" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
				<splash src="assets/images/gs-splash.jpg" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
				<icon src="assets/images/ios/gs-icon-ios-180.png" width="180" height="180" />
				<icon src="assets/images/ios/gs-icon-ios-60.png" width="60" height="60" />
				<icon src="assets/images/ios/gs-icon-ios-120.png" width="120" height="120" />
				<icon src="assets/images/ios/gs-icon-ios-76.png" width="76" height="76" />
				<icon src="assets/images/ios/gs-icon-ios-152.png" width="152" height="152" />
				<icon src="assets/images/ios/gs-icon-ios-40.png" width="40" height="40" />
				<icon src="assets/images/ios/gs-icon-ios-80.png" width="80" height="80" />
				<icon src="assets/images/ios/gs-icon-ios-57.png" width="57" height="57" />
				<icon src="assets/images/ios/gs-icon-ios-114.png" width="114" height="114" />
				<icon src="assets/images/ios/gs-icon-ios-72.png" width="72" height="72" />
				<icon src="assets/images/ios/gs-icon-ios-144.png" width="144" height="144" />
				<icon src="assets/images/ios/gs-icon-ios-167.png" width="167" height="167" />
				<icon src="assets/images/ios/gs-icon-ios-29.png" width="29" height="29" />
				<icon src="assets/images/ios/gs-icon-ios-58.png" width="58" height="58" />
				<icon src="assets/images/ios/gs-icon-ios-87.png" width="87" height="87" />
				<icon src="assets/images/ios/gs-icon-ios-50.png" width="50" height="50" />
				<icon src="assets/images/ios/gs-icon-ios-100.png" width="100" height="100" />
				<splash src="assets/images/ios/Default@2x~universal~anyany.jpg" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.3" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
</widget>
